#Nav{
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.8;   
    display: flex;
    align-items: center;
    gap: 0.8rem;
    border: 3rem;
    position: absolute;
    bottom: 0;
    backdrop-filter: blur(15px);
    padding: 10px;

} 
#Nav a{
    background: transparent;
    padding: 9px;
    border-radius: 100%;
    color: var(--color-light);
    font-size: 1.1rem;
    
}
#Nav a:hover{
    background: var(--color-bg);
}
#Nav a.active{
    background: var(--color-bg);
    color: white;
}
.Navigation{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}