.Header_Socials{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}
/* ========Media Queris For Small Devices */
@media screen and (max-width: 600px) {
    .Header_Socials{
     display: none;
    }
}
@media only screen and (min-width: 1200px) {
    
}