.contact_container{
  display: flex;
}
.contact_options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.contact_option{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(---transition);
}
.contact_option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}
.contact_option:hover{
    background: transparent;
    border-color: var(--color-white);
}
.Icon{
    font-size: 1.2rem;
}
.from{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-bg-variant);
    resize: none;
    color: var(--white);
    margin: 20px;
}
textarea:hover{
    background: transparent;
    border-color: var(--white);
}
input:hover{
    background: transparent;
    border-color: var(--white);
}
.submitbtn{
    margin-left: 20px;
    padding: 10px;
}